
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');

@import url("https://use.typekit.net/vvg8klh.css");



body, html{
    height:100%;
    margin:0; 
    padding:0;
    font-family: "Droid Serif";
    font-size: 16px;
}

h1{ 
font-family: "Oswald";
font-size: 45px;

}



.logo{
width:65px; 
height: 120px;
object-fit: cover;   

}

.nav-bar {
  background-color: #044344;
  display: flex;
  justify-content: space-around;
  align-items: center;


}

nav { 
  display: flex;
  }

nav li{ 
list-style: none;
display: inline-block;
}

nav li a { 
text-decoration-line: none;
color: #ff2a5c;
padding: 0 20px;
line-height: 30px;
font-family: "Oswald"; 
font-weight: 700;
font-size: 20px;
}

nav li a:hover { 
color:#ffca00;
}

.hero-image{ 
background-image: url(Graphics/Miles%20Hero%20Image%20copy.jpg);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
position: relative;




}

.hero-text{ 
position: absolute; 
color:#ff2a5c;
top:37%;
left:15%;
line-height:20px;
}

.hero-text h1{ 
font-size:90px; 
}

.hero-text h2{ 
font-family: "Oswald";
font-weight: 300;
font-size:65px;

}

.quote-1{ 
text-align: center;
padding: 20px;
font-size: 40px;
line-height: 1.2;
color:#ffca00;
background-color:#ff2a5c; 

}



.container {
  width: 80%;
  margin: 0 auto;
}

.container img {
  object-fit: cover;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

.column_2 {
  flex: 50%;
}

.column_3{ 
flex:50%;

}

.background{ 
background-color:#044344; 
position:relative;
}

.rectangle{
  width: 273.3px; 
height:645px;
background: #ff97e3;
position:absolute; 
bottom:0px; 
left: 82%;
}

.background h1{ 
text-align: center;
margin: 50px 0 0 60px;
color:#ff2a5c;
}

.bg-text{ 
  margin-left: 100px;
    padding :0 40px;
line-height: 1.8;
text-align: left;
color:#ffca00;
}

.miles-1{ 
width:70%;
height:100%;
margin-left: 60px;
}


.early-years{
background-color:#ffca00;
position:relative;
    
}
.miles-2{ 
position: relative;
width:70%;
height:90%;
margin-left: 150px;
z-index: 3;
}
.square{
  width: 190px; 
  height:200px;
  background: #ff97e3;
  position:absolute; 
  bottom:-60px; 
  right: 42%;
  z-index:1;
  }

.early-years h1{
    margin-top: 30px;
    margin-left: 185px;
    margin-bottom: 0;
    color:#ff2a5c;
    
}
.ey-text{ 
margin-right: 100px;
padding-left:70px;
color:#044344;
line-height: 1.8;
}

.shape{ 
  position:absolute;
  width:640px;
  bottom:-50px;
  left:-130px;

}

.success{ 
background-color:#044344;
position: relative; 
}

.success h1{ 
text-align: center;
margin:70px 0 0 120px;
color:#ff2a5c;
}
.cs-text{
   margin-left: 100px;
    padding-right:10px;
    padding-left:40px;
    color:#ffca00;
    line-height: 1.8;
    
}

.miles-3{ 
width:67%;
margin-left: 60px;
}


.hiatus{ 
background-color: #ff97e3;
padding: 20px 50px;

}

.hiatus h1{ 
text-align: center;
margin-bottom: auto;
margin-top: 30px;
color:#044344;
}

.h-text{ 
text-align: center;
padding: 0 120px 50px 130px;
color:#044344;
line-height: 1.8;
}

.comeback{ 
background-color:#ffca00 ;
position:relative;
}
.rectangle-2{
  width: 350px; 
height:680.2px;
background: #ff2a5c;
position:absolute; 
bottom:0px; 
right: 83%;
}

.shape-2{ 
  position: absolute;
  top: 5;
  right:0px;
 
  width:57.5%;

}

.shape-3{ 
position:absolute;
bottom: -6px;
left:647.5px;
width:200px;
}

.comeback h1{ 
  margin-top:225px;
  margin-bottom: auto;
  padding-left:110px;
  color:#ff2a5c;

}

.cb-text{ 
text-align: left;
margin-right: 50px;
margin-left:-20px;
line-height: 1.8;
color:#044344;
}

.miles-5{ 
height:100%;
width:65%;
margin-left:100px;

}

.final-years{ 
background-color:#044344;
position:relative;
}
.shape-4{ 
  position:absolute;
  bottom: -192px;
  left:0px;
  width:985px;

}

.shape-5{ 
position: absolute;
top:0px;
width:400px;
right: 0;

  
}


.final-years h1{ 
color:#ff2a5c;
text-align: center;
margin: 40px 0 0 50px;
}

.fy-text{ 
color:#ffca00;
margin-left: 120px;
    padding-right:50px;
line-height: 1.8;
text-align: left;
}

.miles-6{ 
  width:70%;
  height:100%;
  margin-left: 30px;
}

.death{ 
  background-color: #ff97e3;
padding: 20px 50px;
  
  }
  
  .death h1{ 
  text-align: center;
  margin-bottom: auto;
  margin-top: 30px;
  color:#044344;
  }
  
  .d-text{ 
  text-align: center;
  padding: 0 120px 50px 180px;
  color:#044344;
  line-height: 1.8;
  }


  .discography{ 
    padding: 20px;
    background-color:#044344;
    height: 600px;
  }

  .discography h1 { 
text-align: center;
color:#ffca00
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main-carousel {
    background: #044344;;
  }
  .carousel-cell {
    width: 20%; /* full width */
    height: 300px; /* height of carousel */
    margin-right: 40px;
    background: lightgreen;
    opacity: .5;
  
  }
  
  .carousel-cell.is-selected {
    
    opacity: 1;
  }
  

  .flickity-prev-next-button {
    width: 100px;
    height: 100px;
    background: transparent;
  }
  /* arrow color */
  .flickity-prev-next-button .arrow {
    fill: #ffca00;
  }
  .flickity-prev-next-button.no-svg {
    color: white;
  }
  .flickity-prev-next-button:hover {
    background: transparent;
  }
  /* hide disabled button */
  .flickity-prev-next-button:disabled {
    display: none;
  }
  

  .flickity-page-dots {
    bottom: -30px;
  }
  /* white circles */
  .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid #ffca00;
  }
  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background:#ffca00;
  }
  
  
  

  
  footer{
    background-color: #ff2a5c;
    padding: 40px 0;
  }

footer li{
  list-style: none;
 }

 footer li a{ 
  text-decoration-line: none;
  color:#044344;
  padding-left: 200px;
  line-height: 40px;
  font-family: "Oswald"; 
  font-weight: 700;
  font-size: 20px;

 }

 footer li a:hover{
   color:#ffca00;
  }

  footer .media li{ 
    list-style: none;
    display:inline;
    
    }
    footer .media li a { 
      padding: 0 10px;
      
      }
    
      .media{ 
        margin-right:300px;
        margin-top:100px;
        
      }

      .icon {
        position:relative;
        display: inline-block;
        background-repeat: no-repeat;
       
      }
  
      .twitter {
        background-image: url("Graphics/twitter.svg");
        width: 60px;
        height: 60px;
      }

      .twitter:hover {
  background-image:url("Graphics/twitter\ -\ Copy.svg");
}
  
.spotify {
  background-image: url("Graphics/spotify.svg");
        width: 60px;
        height: 60px;
}
.spotify:hover {
background-image:url("Graphics/spotify\ -\ Copy.svg");

}

.instagram {
  background-image: url("Graphics/instagram.svg");
        width: 60px;
        height: 60px;
}
.instagram:hover {
background-image:url("Graphics/instagram\ -\ Copy.svg");
}

.youtube {
  background-image: url("Graphics/youtube.svg");
        width: 60px;
        height: 60px;
        top:4px;
}
.youtube:hover {
background-image:url("Graphics/youtube\ -\ Copy.svg");
       
}


   

  .copyright{ 
    color:white;
    text-align: center;
  }